.calibration-table {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 30px;
  width: auto;
  max-width: auto; }
  .calibration-table th, .calibration-table td {
    padding: 6px;
    font-weight: 300; }

.calibratable .editable {
  padding: 6px 20px;
  background-color: #df8505;
  color: white; }
